/* body {
  font-family: 'Montserrat', sans-serif;
} */

.table {
    border-radius: 1px; /* Rounded corners */
    font-family: 'Montserrat', sans-serif;

  }

.btn-button {
  border-radius: 10px;
}
